<p id="notice"><%= notice %></p>

<h1>Components</h1>

<form action="/components" method="GET">

  Name: <input type="text" name="model" placeholder="Model" value="<%= @model %>"/>

  <input type="submit", value="Filter" />

</form>

<br>
<form action="/components" method="GET">
  <%= @brand_id %>
    <select name="brand_id">
      <option disabled selected value> Select a Brand </option> 
      <% Brand.all.each_with_index do | t, index | %>
        <option value="<%= t.id %>" <% t.id.to_s == @brand_id ? "selected" : "" %>> <%= t.name %> - <%= t.country %> </option>
      <% end -%>
    </select> <n> <n>

    <input type="submit", value="SUBMIT" />
</form>

<br><br>

<form action="/components" method="GET">
  <%= @type %>
    <select name="type">
      <option disabled selected value> Select a Type </option> 
      <% @types.each do | t, index | %>
        <option value="<%= t %>" <% t == @type ? "selected" : "" %>> <%= t %> </option>
      <% end -%>
    </select> <n> <n>

    <input type="submit", value="SUBMIT" />
</form>

<br><br>

<form action="/components" method="GET">

  Serial Number: <input type="text" name="serial_number" placeholder="Serial number" value="<%= @serial_number %>"/>

  <input type="submit", value="Filter" />

</form>

<br>

<form action="/components" method="GET">

  RGB: <input type="checkbox" name="rgb" value="true" />

  <input type="submit", value="Filter" />

</form>

<br>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Type</th>
      <th>Serial number</th>
      <th>Rgb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
    <% if component.rgb == true %>
      <tr style="background-color: #40FF00">
    <% else %>
      <tr>
    <% end %>
        <td><%= component.brand.name %></td>
        <td><%= component.model %></td>
        <td><%= component.category %></td>
        <td><%= component.serial_number %></td>
        <td><%= component.rgb %></td>
        <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_component_path %>
