<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice_item.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @invoice_item.unit_price %>
</p>

<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'Back', invoices_path %>
